

#carousel{
	margin: 0 auto;
	height: 900px;
	width: 1200px;
}

.carousel-point{
	text-align: center;
	position: relative;
	top: 750px;
}

#carousel .previous{
	position: relative;
	top: -400px;
	left: 20px;
	cursor: pointer;
}

#carousel .next{
	float: right;
	position: relative;
	top: -400px;
	right: 20px;
	cursor: pointer;
}


.carousel-content img{
	height: 800px;
	width: 1200px;
}

.carousel-point li{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: black;
	border:1px solid black;
	border-radius: 50px;
	color: green;
	margin: 0px 10px;
	cursor: pointer;
}

.carousel-point .active,.carousel-point li:hover{
	background: #fff;
}

.carousel-content li{
	display: none;
}

.carousel-content .active{
	display: block;
}
