
#describe{
}

.text-box{
	margin: 100px 0;
	text-align: center;
	width: 400px;
	float: left;
}

.text-box img{
	margin-bottom: 40px;
}

.text-box h3{
	margin-bottom: 40px;
	font-size: 22px;
}

.text-box p{
	margin: 0 auto;
	font-size: 14px;
	width: 300px;
}

